# Python version
# Requires Python >=3.10 (Recommended: 3.12.x)

torch>=2.0
torchvision>=0.15

numpy>=1.26
scipy>=1.11
pandas>=2.0

opencv-python>=4.8
matplotlib>=3.8
seaborn>=0.13

Pillow>=10.0
PyYAML>=6.0
tqdm>=4.65
requests>=2.31

scikit-image>=0.22
filterpy>=1.4
lap>=0.5

ultralytics>=8.0
gitpython>=3.1.30
